<DOCTYPE! html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="style.css">
</head>
<body>

	<header class = "head">
	<div class = "headWrapper">

		<a class = "logo" href = "#"></a>

		<span class = "date">
			<span class = "date_day">16</span>
			<span class = "date_month_dayweek">
				<div class = "date_month">февраля</div>
				<div class = "date_dayweek">воскресенье</div>
			</span>
		</span>

		<a class = "week_menu" href = "#">Меню на неделю</a>

		<a class = "basket" href = "#">
			<span class = "icon-shopping-cart"></span>
			<span class = "basket_title">В корзине:</span>
			<span class = "basket_items">100</span>
			позиции на
			<span class = "basket_price">1000</span>
			р.
		</a>

		<a class = "login_link" href = "#">Войти</a>

	</div>
	</header>

	<div class = "dinnerMan">
		<div class = "content"></div>
		<section class = "wrapper">
			<div class = "look_at_menu">Смотри меню на сегодня</div>
			<div class = "icon-down-arrow"></div>
		</section>
	</div>

	<section class = "dinner">
	<div class = "wrapper">

<!-- Обед №1 -->

		<div class = "dinner_block">
			<img class = "dinner_image" src = "images/dinner1.png" />

			<div class = "dinner_info">
			<div class = "content">
				<div class = "dinner_header">
					<div class = "head_wrapper">
						<div class = "dinner_name">Обед №1</div>
						<div class = "dinner_weight">850 гр / 1300 ккал</div>
					</div>
					<div class = "dinner_price">340 р</div>
				</div>

				<ul>
					<li><span class = "icon-soup"></span>Борщ домашний</li>
					<li><span class = "icon-chicken"></span>Курица запеченая 
	с гарниром из картофеля</li>
					<li><span class = "icon-salad"></span>Салат «Мужские грезы»</li>
					<li><span class = "icon-dessert"></span>Десерт «Торт Три Шоколада»</li>
				</ul>
			</div>

				<div class = "dinner_portions">
					<div class = "dinner_portions_title">Выбрать количество порций</div>

					<div class = "plus_minus_wrapper">
						<button class = "minus_button"><span class = "icon-substract"></span></button>
						<div class = "dinner_portions_number">15</div>
						<button class = "plus_button"><span class = "icon-add"></span></button>
						</div>
					</div>
			</div>
		</div>


<!-- Обед №2 -->

		<div class = "dinner_block">
			<img class = "dinner_image" src = "images/dinner2.png" />

			<div class = "dinner_info">
			<div class = "content">
				<div class = "dinner_header">
					<div class = "head_wrapper">
						<div class = "dinner_name">Обед №2</div>
						<div class = "dinner_weight">1000 гр / 1300 ккал</div>
					</div>
					<div class = "dinner_price">370 р</div>
				</div>

				<ul>
					<li><span class = "icon-soup"></span>Борщ домашний</li>
					<li><span class = "icon-chicken"></span>Курица запеченая 
	с гарниром из картофеля</li>
					<li><span class = "icon-salad"></span>Салат «Мужские грезы»</li>
					<li><span class = "icon-dessert"></span>Десерт «Торт Три Шоколада»</li>
				</ul>
			</div>

				<div class = "dinner_portions">
					<div class = "dinner_portions_title">Выбрать количество порций</div>

					<div class = "plus_minus_wrapper">
						<button class = "minus_button"><span class = "icon-substract"></span></button>
						<div class = "dinner_portions_number">1</div>
						<button class = "plus_button"><span class = "icon-add"></span></button>
						</div>
					</div>
			</div>
		</div>

<!-- Обед №3 -->

		<div class = "dinner_block">
			<img class = "dinner_image" src = "images/dinner3.png" />

			<div class = "dinner_info">
			<div class = "content">
				<div class = "dinner_header">
					<div class = "head_wrapper">
						<div class = "dinner_name">Обед №3</div>
						<div class = "dinner_weight">850 гр / 1300 ккал</div>
					</div>
					<div class = "dinner_price">1340 р</div>
				</div>

				<ul>
					<li><span class = "icon-soup"></span>Борщ домашний с чесночными гренками</li>
					<li><span class = "icon-chicken"></span>Курица запеченая 
	с гарниром из картофеля</li>
					<li><span class = "icon-salad"></span>Салат «Мужские грезы»</li>
					<li><span class = "icon-dessert"></span>Десерт «Торт Наполеон
со взбитыми сливками»</li>
				</ul>
			</div>

				<div class = "dinner_portions">
					<div class = "dinner_portions_title">Выбрать количество порций</div>

					<div class = "plus_minus_wrapper">
						<button class = "minus_button"><span class = "icon-substract"></span></button>
						<div class = "dinner_portions_number">0</div>
						<button class = "plus_button"><span class = "icon-add"></span></button>
						</div>
					</div>
			</div>
		</div>

<!-- Обед №4 -->

		<div class = "dinner_block">
			<img class = "dinner_image" src = "images/dinner4.png" />

			<div class = "dinner_info">
			<div class = "content">
				<div class = "dinner_header">
					<div class = "head_wrapper">
						<div class = "dinner_name">Обед №4</div>
						<div class = "dinner_weight">850 гр / 1300 ккал</div>
					</div>
					<div class = "dinner_price">470 р</div>
				</div>

				<ul>
					<li><span class = "icon-soup"></span>Борщ домашний</li>
					<li><span class = "icon-chicken"></span>Курица запеченая 
	с гарниром из картофеля</li>
					<li><span class = "icon-salad"></span>Салат «Мужские грезы»</li>
					<li><span class = "icon-dessert"></span>Десерт «Торт Наполеон
со взбитыми сливками»</li>
				</ul>
			</div>

				<div class = "dinner_portions">
					<div class = "dinner_portions_title">Выбрать количество порций</div>

					<div class = "plus_minus_wrapper">
						<button class = "minus_button"><span class = "icon-substract"></span></button>
						<div class = "dinner_portions_number">0</div>
						<button class = "plus_button"><span class = "icon-add"></span></button>
						</div>
					</div>
			</div>
		</div>

	</div>
	</section>

	<section class = "reg_body">
		<div class = "RegForm">
			<div class = "RegForm_Title">Оформить заказ</div>
			<div class = "RegForm_Menu">
				<ul>
					<li><a href = "#" class = "active">Вход</a></li>
					<li><a href = "#">Регистрация</a></li>
				</ul>
			</div>
			<form class = "RegForm_Input">
				<input type = "text" class = "Input_Data" placeholder = "Номер телефона" />
				<input type = "text" class = "Input_Data" placeholder = "Пароль" />
				<div class = "centerElement"><button>Продолжить</button></div>
			</form>
		</div>
	</section>

</body>
</html>