<!-- Pixel Perfect -->

<DOCTYPE! html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="login.css">
</head>
<body>

	<div class = "RegForm">
		<div class = "RegForm_Title">Оформить заказ</div>
		<div class = "RegForm_Menu">
			<ul>
				<li><a href = "#">Вход</a></li>
				<li><a href = "#">Регистрация</a></li>
			</ul>
		</div>
		<form class = "RegForm_Input">
			<div class = "Input_Title">Номер телефона</div>
			<input type = "text" class = "Input_Data" placeholder = "+7(917)000 00 00" />
			<div class = "Input_Title_Err">Неверный пароль</div>
			<input type = "text" class = "Input_Data_Err" placeholder = "*******" />
			<div class = "centerElement"><button>Продолжить</button></div>
		</form>
	</div>

</body>
</html>