@font-face {

	font-family: 'Roboto Regular';
	src: url(fonts/roboto/Roboto-Regular.ttf);

}

@font-face {

	font-family: 'Roboto Medium';
	src: url(fonts/roboto/Roboto-Medium.ttf);

}


body {

	font-family: 'Roboto Regular';
	background-color: #ffd900;

	/*height: 100%;*/
	margin-top: 48px;

}

.RegForm {

	width: 555px;
	margin: 0 auto;
	padding: 30px 97.5px 0;

	background-color: #ffffff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

}

.RegForm_Title {

	margin-bottom: 11px;

	font-family: 'Roboto Medium';
	text-transform: uppercase;

	font-size: 16px;
	font-weight: 500;
	text-align: center;
	color: #000000;

}

.RegForm_Menu {

	display: flex;
	flex-direction: row;
	justify-content: center;

	margin-bottom: 35px;

}

ul {

	padding: 0;
	margin: 0;
	list-style: tag-none;

}

li {

	display: inline-block;

}

.RegForm_Menu a {

	display: block;
	padding: 10px 15px 10px;

	text-transform: uppercase;

	font-size: 14px;
	text-align: center;
	color: #000000;
	text-decoration: none;
	border-bottom: 2px solid #ffffff;

}

/* TODO: исправить поведение элемента */

li:first-of-type {

	font-family: 'Roboto Medium';
	font-weight: 500;
	border-bottom: 2px solid #e75555;

}

.RegForm_Menu a:hover {

	font-family: 'Roboto Medium';
	font-weight: 500;
	border-bottom: 2px solid #e75555;

}

.Input_Title, .Input_Title_Err {

	margin-bottom: 2px;

	font-size: 9px;
	text-align: left;
	color: #868686;

}

.Input_Title_Err {

	color: red;

}

input {

	border: 0;
	padding: 4px 0 0 5px;

}

.Input_Data, .Input_Data_Err {

	display: block;
	width: 100%;
	padding-bottom: 6px;
	margin-bottom: 35px;

	font-size: 12px;
	text-align: left;
	color: #000000;
	border-bottom: 1px solid #000000;

}

.Input_Data_Err {

	margin-bottom: 46px;
	border-bottom: 1px solid #e75555;

}

.centerElement {

	text-align: center;

}

button {

	border: 0;
	padding: 9px 20px;
	margin: 0 auto 40px;

	text-transform: uppercase;

	font-size: 12px;
	text-align: center;
	color: #ffffff;

	opacity: 0.5;
	border-radius: 20px;
	background-color: #e85555;

}