@font-face {

	font-family: 'Roboto Regular';
	src: url(fonts/roboto/Roboto-Regular.ttf);

}

@font-face {

	font-family: 'Roboto Medium';
	src: url(fonts/roboto/Roboto-Medium.ttf);

}

@font-face {

	font-family: 'Roboto Bold';
	src: url(fonts/roboto/Roboto-Bold.ttf);

}

@font-face {

	font-family: 'icomoon';
	src:	url('fonts/icomoon.eot?cnoglb');
	src:	url('fonts/icomoon.eot?cnoglb#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?cnoglb') format('truetype'),
		url('fonts/icomoon.woff?cnoglb') format('woff'),
		url('fonts/icomoon.svg?cnoglb#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {

	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

ul, li {

	padding: 0;
	margin: 0;
	list-style: tag-none;

}

a {

	outline: none;
	text-decoration: none;

}

button {

	outline: 0;

}

/* Обёртка */

.wrapper {

	margin: 0 auto;

}

.wrapper:after {

	clear: both;

}

.wrapper:before, .wrapper:after {

	content: "";
	display: table;

}

body {

	font-family: 'Roboto Regular';
	min-width: 1170px;
	margin: 0;

}

/* -------------------- Заголовок -------------------- */

.head {

	padding: 28px 0;

	color: #ffffff;
	background-color: #191919;

}

.headWrapper {

	margin: 0 auto;
	width: 1150px;

}

.headWrapper:after {

	clear: both;

}

.headWrapper:before, .headWrapper:after {

	content: "";
	display: table;

}

/* Лого */

.logo {

	content: url(images/logo.svg);
	width: 114px;
	height: 64px;

	float: left;
	margin-right: 78px;

}

/* Конец (Лого) */
/* Дата */

.date {

	float: left;
	margin-top: 18px;
	margin-right: 97px;

}

.date_day {

	float: left;
	margin-right: 10px;
	line-height: 100%;

	font-size: 32px;
	text-align: center;

}

.date_month_dayweek {

	float: right;
	margin-right: 10px;

}

.date_month {

	font-size: 14px;
	text-align: left;

}

.date_dayweek {

	font-family: 'Roboto Medium';
	font-size: 12px;
	font-weight: 500;
	text-align: left;

}

/* Конец (Дата) */
/* Меню на неделю */

.week_menu {

	display: block;
	float: left;
	margin-top: 26px;
	margin-right: 49px;

	font-size: 14px;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;

}

/* Конец (Меню на неделю) */
/* Корзина */

.basket {

	display: block;
	float: left;
	width: 360px;
	margin-top: 8px;
	margin-right: 75px;
	padding: 17px 0;

	font-family: 'Roboto Medium';
	font-size: 12px;
	font-weight: 500;
	text-align: center;
	color: #000000;
	background-color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;

}

.basket_title {

	color: #e30000;

}

.icon-shopping-cart:before {

	content: "\e909";
	margin-right: 16px;

	color: #e85555;

}

/* Конец (Корзина) */
/* Кнопка входа */

.login_link {

	display: block;
	float: left;
	margin-top: 16px;
	padding: 9px 0;
	width: 120px;

	font-family: 'Roboto Medium';
	font-size: 12px;
	font-weight: 500;
	text-align: center;
	border-radius: 20px;
	color: #ffffff;
	background-color: #e75555;
	text-transform: uppercase;
	text-decoration: none;

}

/* -------------------- DinnerMan -------------------- */

.dinnerMan {

	height: 514px;

	background-image: url(images/dinner_man.png);
	background-position-x: center;
	background-position-y: bottom;
	background-repeat: no-repeat;
	background-size: auto;
	background-color: #84D800;

}

.look_at_menu {

	margin: 446px 0 12px;

	font-family: 'Roboto Bold';
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;

}

.icon-down-arrow {

	text-align: center;

}

.icon-down-arrow:before {
	content: "\e905";
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
}

/* -------------------- Обеды -------------------- */

.dinner {

	padding-top: 75px;
	padding-bottom: 24px;

}

.dinner  .wrapper {

	display: block;
	width: 1140px;

}

.dinner_block {

	float: left;
	width: 555px;
	height: 238px;
	margin-bottom: 48px;

	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);

}

.dinner_block:nth-child(even) {

	float: right;

}

.dinner_image {

	float: left;

}

.dinner_info {

	display: table;
	height: 100%;

	float: right;
	width: 292px;
	box-sizing: border-box;
	padding: 10px 15px 15px 29px;

}

/* Заголовок */

.content {

	display: table-row;
	height: 100%;

}

.dinner_header {

	height: 34px;
	margin-bottom: 17px;

}

.head_wrapper {

	float: left;

}

.dinner_name {

	font-family: 'Roboto Medium';
	font-size: 16px;
	font-weight: 500;
	text-align: left;
	text-transform: uppercase;

}

.dinner_weight {

	font-size: 10px;
	text-align: left;
	color: #979797;
}

.dinner_price {

	float: right;

	font-family: 'Roboto Medium';
	font-size: 20px;
	font-weight: 500;

}

/* Конец (Заголовок) */
/* Описание продукта */

.dinner_info ul {

	list-style-position: inside;
	list-style-type: none;

	font-size: 12px;
	text-align: left;

}

.dinner_info li {

	margin-bottom: 11px;

}

.dinner_info li:last-child {

	margin: 0;

}

.icon-soup:before {
	content: "\e90a";
	padding-right: 16px;
}
.icon-chicken:before {
	content: "\e906";
	padding-right: 16px;
}
.icon-salad:before {
	content: "\e908";
	padding-right: 16px;
}
.icon-dessert:before {
	content: "\e904";
	padding-right: 16px;
}

/* Конец (Описание продукта) */
/* Количество порций */

.dinner_portions {

	height: 24px;
	margin: 0 auto;

}

.dinner_portions_title {

	float: left;
	margin-top: 5px;

	font-size: 10px;
}

.plus_minus_wrapper {

	float: right;

}

.dinner_portions button {

	float: left;
	width: 24px;
	height: 24px;

	color: #000000;
	background-color: #d8d8d8;
	border: none;
	border-radius: 50%;

}

.dinner_portions button:hover {

	color: #ffffff;
	background-color: #e85555;

}

.dinner_portions_number {

	float: left;
	width: 49px;

	font-size: 16px;
	text-align: center;

}

.icon-substract:before {
	content: "\e90b";
}
.icon-add:before {
	content: "\e900";
}

/* Конец (Количество порций) */

/* -------------------- Заказ -------------------- */

.reg_body {

	background-color: #ffd900;

	padding: 48px 0 79px;

}

.RegForm {

	width: 555px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 30px 97.5px 40px;

	background-color: #ffffff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

}

.RegForm_Title {

	margin-bottom: 11px;

	font-family: 'Roboto Medium';
	text-transform: uppercase;

	font-size: 16px;
	font-weight: 500;
	text-align: center;
	color: #000000;

}

.RegForm_Menu {

	display: block;
	text-align: center;

	margin-bottom: 35px;

}

.RegForm li {

	display: inline-block;

}

.RegForm_Menu a {

	display: block;
	padding: 10px 15px 10px;

	font-size: 14px;
	text-align: center;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 2px solid #ffffff;

}

.RegForm_Menu .active, .RegForm_Menu a:hover {

	font-family: 'Roboto Medium';
	font-weight: 500;
	border-bottom: 2px solid #e75555;

}

.RegForm input {

	border: 0;
	outline: none;
	border-bottom: 1px solid #000000;

}

.Input_Data, .Input_Data_Err {

	display: block;
	width: 100%;
	padding-bottom: 6px;
	margin-bottom: 47px;

	font-size: 12px;
	text-align: left;
	color: #000000;
	border-bottom: 1px solid #000000;

}

.Input_Data input {

	border-bottom: 1px solid #000000;

}

.Input_Data_Err {

	margin-bottom: 46px;
	border-bottom: 1px solid #e75555;

}

.centerElement {

	text-align: center;

}

.RegForm button {

	border: 0;
	padding: 9px 20px;
	margin: 0 auto;

	text-transform: uppercase;

	font-size: 12px;
	text-align: center;
	color: #ffffff;

	border-radius: 20px;
	background-color: #e85555;