<!-- Pixel Perfect -->

<DOCTYPE! html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="style.css">
</head>
<body>
		<header class = "head">
			<div class = "wrapper">
				<div class = "logo">
					Design Studios
				</div>
				
				<div class = "main">
					<ul>
						<li><a href = "#"> Home </a></li>
						<li><a href = "#"> About Us </a></li>
						<li><a href = "#"> Services </a></li>
						<li><a href = "#"> Portfolio </a></li>
						<li><a href = "#"> Contact Us </a></li>
					</ul>
				</div>
			</div>
		</header>

		<div class = "staff">

			<div class = "firstText">
				<div class = "text1">
					Clean <strong>&</strong> Professional Web Design
				</div>
				<div class = "text2">
					Providing High Quality Web Solutions
				</div>
			</div>

			<section class = "secondText">
				We provide <strong>first class</strong> web solutions for organizations and small businesses looking to make a <strong>big impact</strong> online. Our services include web design, online marketing campaigns, and search engine optimization.
			</section>

			<section class = "threeBlocks">

				<article class = "block">
					<div class = "blockHead">
						web design
					</div>
					<div class = "blockText">
						We provide web design solutions of the very highest order. We’ll work with you from the start to understand your exact requirements and will  continuosly work with you to ensure that you’re happy with the final site that you purchase.
					</div>
					<a href = "#"> GET MORE DETAILS >> </a>
				</article>

				<article class = "block">
					<div class = "blockHead">
						marketing
					</div>
					<div class = "blockText">
						We can help you promote your business in both the online and offline worlds. We specialize in a range of fields from viral marketing campaigns to managing paid advertising accounts for you. Your brand will be in safe hands with us.
					</div>
					<a href = "#"> VIEW CASE STUDIES >> </a>
				</article>

				<article class = "block">
					<div class = "blockHead">
						optimization
					</div>
					<div class = "blockText">
						Want to drive more traffic to your site? You’ve come the right place! We can increase traffic to your site in an organic and effective manner that will ensure more people are aware of your business and the products/services you offer. 
					</div>
					<a href = "#"> LEARN MORE >> </a>
				</article>

			</section>

			<section class = "twoBlocks">

				<div class = "leftBlock">

					<div class = "twoBlocksHead">
						Client Testimonials
					</div>

					<article class = "feedbackBlock">
						<div class = "imgSquare"></div>
						<div class = "feedback">
							“Design studios created a beautiful website and were a pleasure to work with during the whole process...”
						</div>
						<div class = "authorCompany">
							<strong>Sarah Johnson</strong><br />
							<a href = "#">Web Design Media</a>
						</div>
					</article>

					<article class = "feedbackBlock">
						<div class = "imgSquare"></div>
						<div class = "feedback">
							“Design studios created a beautiful website and were a pleasure to work with during the whole process...”
						</div>
						<div class = "authorCompany">
							<strong>Sarah Johnson</strong><br />
							<a href = "#">Web Design Media</a>
						</div>
					</article>

					<article class = "feedbackBlock">
						<div class = "imgSquare"></div>
						<div class = "feedback">
							“Design studios created a beautiful website and were a pleasure to work with during the whole process...”
						</div>
						<div class = "authorCompany">
							<strong>Sarah Johnson</strong><br />
							<a href = "#">Web Design Media</a>
						</div>
					</article>

				</div>

				<div class = "rightBlock">

					<div class = "twoBlocksHead">
						Featured Project
					</div>

					<div class = "articleTitle">
						Yoshi Online Marketing Campaign
					</div>

					<div class = "articleIMG"></div>

					<div class = "articleText">
						This project involved organizing an online marketing campaign to help promote the Yoshi brand. The result of this campaign resulted in a 200% increase in Yoshi’s sales over a six month period of time. 
					</div>

					<a href = "#">Click Here For More Details >></a>

				</div>

			</section>

			<footer class = "footer">
				Copyright © 2010 ~ Design Studios ~ All Rights Reserved
			</footer>

		</div>

</body>
</html>