body {

	font-family: Arial;
	width: 1100px;
	height: 100%;
	margin: 0 auto;

}

/* *** Шапка *** */

.head {

	color: #eeeeee;
	background-color: #333333;
	margin-bottom: 67px;

}

.wrapper {

	margin: 0 auto;

}

.wrapper:after {

	clear: both;

}

.wrapper:before, .wrapper:after {

	content: "";
	display: table;

}

.logo {

	float: left;
	padding: 43px 0 36px 70px;

	font-size: 60px;
	letter-spacing: -2.4px;
	text-align: left;

}

.main {

	float: right;
	margin: 75px 70px 47px 0;

	font-size: 16px;
	letter-spacing: -0.6px;
	text-align: left;
	color: #eeeeee;

}

.main a {

	color: white;
	text-decoration: none;

}

ul {

	padding: 0;
	margin: 0;
	list-style: tag-none;

}

li {

	margin-left: 0.5px;
	display: inline-block;

}

.main li:before {

	content: "--";

}

/* *** Содержимое *** */

.staff {

	padding: 0 70px;

}

/* *** "Первый" текст *** */

.text1 {

	margin-bottom: 10px;

	font-size: 60px;
	font-weight: bold;
	letter-spacing: -2.4px;
	text-align: left;
	color: #333333;

}

.text1 strong {

	color: #00bff3;

}

.text2 {

	padding-bottom: 31px;
	border-bottom: 5px dotted #cccccc;
	margin-bottom: 33px;

	font-size: 50px;
	letter-spacing: -2px;
	text-align: left;
	color: #bbbbbb;

}

/* *** "Первый" текст *** */

.secondText {

	padding-bottom: 34px;
	border-bottom: 5px dotted #cccccc;
	margin-bottom: 43px;
	
	font-size: 34px;
	letter-spacing: -1.4px;
	text-align: left;
	color: #555555;

}

/* *** Три блока *** */

.threeBlocks {

	padding-bottom: 48px;
	margin-bottom: 31px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	border-bottom: 5px dotted #cccccc;

}

.block {

	float: left;
	width: 283px;
	padding: 25px 0 34px;

	background-color: #00aeef;
	box-shadow: 2.5px 4.3px 5px 0 rgba(170, 170, 170, 0.75);

}

.blockHead {

	margin: 0 23px 27px;
	padding-bottom: 15px;

	font-size: 40px;
	letter-spacing: -1.6px;
	color: #ffffff;
	text-align: center;
	border-bottom: 3px dotted #ffffff;

}

.blockText {

	margin: 0 28px 29px;

	font-size: 14px;
	text-align: center;
	color: #ffffff;

}

.block a {

	display: block;
	margin: 0 25px;
	padding: 13px 0;

	font-size: 18px;
	letter-spacing: -0.7px;
	text-align: center;
	background-color: #0076a3;
	box-shadow: inset 0 0 10px rgba(54, 89, 113, 0.75);

	color: white;
	text-decoration: none;

}

/* *** Два блока (отзывы и реклама) *** */

.twoBlocks {

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 32px;
	margin-bottom: 18px;

	border-bottom: 5px dotted #cccccc;

}

/* *** Левый блок (отзывы) *** */

.leftBlock {

	width: 480px;
	padding-top: 5px;
	padding-right: 47px;

	border-right: 4px dotted #cccccc;

}

.feedbackBlock {

	margin-bottom: 38px;

}

.leftBlock :last-child {

	margin-bottom: 0;

}

.twoBlocksHead {

	padding-bottom: 29px;

	font-size: 24px;
	letter-spacing: -1px;
	text-align: left;
	color: #555555;

}

.imgSquare {

	float: left;
	margin-right: 27px;

	width: 84px;
	height: 84px;
	background-color: #cccccc;

}

.feedback {

	padding-bottom: 18px;

	font-size: 14px;
	text-align: left;
	color: #555555;

}

.authorCompany {

	font-size: 14px;
	text-align: left;

}

.authorCompany a {

	color: #00aeef;
	text-decoration: none;

}

/* *** Правый блок (реклама) *** */

.rightBlock {

	width: 480px;
	padding-left: 47px;

}

.articleTitle {

	margin-bottom: 9px;

	font-size: 20px;
	text-align: left;
	color: #888888;

}

.articleIMG {

	margin-bottom: 21px;

	width: 430px;
	height: 206px;
	background-color: #cccccc;
	box-shadow: 2.5px 4.3px 5px 0 rgba(204, 204, 204, 0.75);
	border: solid 1px #cccccc;

}

.articleText {

	margin-bottom: 11px;

	font-size: 14px;
	text-align: left;
	color: #555555;

}

.rightBlock a {

	font-size: 14px;
	text-align: left;
	color: #00aeef;
	text-decoration: none;

}

/* Нижний колонтитул */

.footer {

	font-size: 16px;
	letter-spacing: -0.6px;
	text-align: left;
	color: #888888;

}